.breadcrumb {
    display: flex;
    align-items: center;
    gap: 3.3rem;
    margin-bottom: .5rem;
    &__item {
        position: relative;
        letter-spacing: 0.05em;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -2.5rem;
            width: 1.7rem;
            height: 0.1rem;
            background-color: $secondary;
        }
    }
}