@media (max-width: 1230px) {
    .container {
        position: relative;
        max-width: 750px;
    }

    // .contactsblock {
    //     margin-right: 7.7rem;
    // }

    .title {
        &_h1 {
            font-size: 3.5rem;
        }

    }
}

@media (max-width: 768px) {
    .contactsblock {
        display: none;
    }

    .title {
        &_h1 {
            font-size: 2.2rem;
        }

    }

    .btn {
        padding: 1.2rem 4rem;
    }
}


@media (max-width: 425px) {
    .title {
        &_h1 {
            font-size: 1.5rem;
        }

    }

    .btn {
        padding: 1rem 2.5rem;
    }
}