.account {
    .section__header {
        justify-content: end;
        margin-top: 3rem;
    }
    .section__text {
        text-align: left;
    }
    &__wrapper {
        margin-top: 3rem;
        display: flex;
        gap: 2rem;
    }
    &__inner {
        width: 100%;
    }
}