.account {
    .section__header {
        justify-content: end;
    }
    .section__text {
        text-align: left;
    }
    &__wrapper {
        margin-top: 3rem;
        display: flex;
        gap: 2rem;
    }
}