<header class="header abs">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo">
                <a href="index.html">
                    <picture>
                        <source srcset="assets/images/header/logo-sm.png" media="(max-width: 768px)">
                        <img src="assets/images/header/logo.png" alt="НЕОТЕК">
                    </picture>
                </a>
            </div>
            <div class="header__inner">
                <div class="header__top">
                    <nav>
                        <ul>
                            <li><a href="aboutcompany.html">О компании</a></li>
                            <li><a href="delivery.html">Доставка и оплата</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </nav>
        
                    <div class="contactsblock">
                        <div class="contactsblock__item">
                            <span class="contactsblock__city">Самара:</span>
                            <a class="contactsblock__tel" href="tel:+78469906988">+7 (846) 990-69-88</a>
                        </div>
                        <div class="contactsblock__item">
                            <span class="contactsblock__city">Тольятти:</span>
                            <a class="contactsblock__tel" href="tel:+78482790790">+7 (848) 2-790-790</a>
                        </div>
                    </div>
                    <div class="menu-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
        
                <div class="header__bottom">
                    <nav>
                        <ul>
                            <li><a href="catalog.html">Каталог товаров</a></li>
                            <li><a href="#">Производители</a></li>
                            <li><a href="application.html">Область применения</a></li>
                            <li><a href="pricelist.html">Прайс-лист</a></li>
                            <li><a href="todesigners.html">Проектировщикам</a></li>
                        </ul>
                    </nav>
        
                    <div class="header__btns">
                        <a href="favourites.html" class="header__icon"></a>
                        <a href="cart.html" class="header__icon"></a>
                        <a href="account.html" class="header__icon"></a>
                    </div>
                </div>
                
            </div>
        </div>
        <nav class="header__mobile-menu">
            <ul>
                <li><a href="aboutcompany.html">О компании</a></li>
                <li><a href="delivery.html">Доставка и оплата</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="catalog.html">Каталог товаров</a></li>
                <li><a href="#">Производители</a></li>
                <li><a href="application.html">Область применения</a></li>
                <li><a href="pricelist.html">Прайс-лист</a></li>
                <li><a href="todesigners.html">Проектировщикам</a></li>
                <li>
                    <div class="contactsblock">
                        <div class="contactsblock__item">
                            <span class="contactsblock__city">Самара:</span>
                            <a class="contactsblock__tel" href="tel:+78469906988">+7 (846) 990-69-88</a>
                        </div>
                        <div class="contactsblock__item">
                            <span class="contactsblock__city">Тольятти:</span>
                            <a class="contactsblock__tel" href="tel:+78482790790">+7 (848) 2-790-790</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    
</header>
